p{
background-color: rgb(238, 238, 238);
	font-family: Georgia;
	color: #030;
	padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
body{
	background-color: #E3D88B;
}
.div1{
	padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
	
	margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 5px;
    margin-left: 25px;
	
	border-width: 10px;
}
li{
	font-family: Arial;
	color: black;
	background-color: green;
	font-weight: bold;
	font-size: 18pt;
	border-style: solid;
}
.footer{
	background-color: #66c;
	color: #ccc;
	font-size: 10pt;
	border-style: solid;
	border-color: #06c;
	border-width: 10px;
}
.navigation{
	background-color: #699;
	color: #033; 
	font-weight: bold;
	font-size: 10pt;
	
	margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
	
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}